/* Sections
---------------------------------------------------------- */
.call_me{
	margin-top: 10px;
}
.white_btn{
	width: 180px;
	height: 52px;
	background-color: transparent;
	color: #4D4D4D;
	font-size: 17px;
	font-family: 'SF UI Display';
	padding-top: 14px;
	padding-bottom: 14px;
	border: 1px solid #DCDCDC;
}

.red_btn{
	width: 188px;
	height: 47px;
	background-color: #8C0428;
	color: white;
	border: 1px solid #8C0428;
	font-size: 17px;
	font-family: 'SF UI Display';
	padding-top: 14px;
	padding-bottom: 14px;
}
.section_header_text{
	font-size: 33px;
	font-family: 'SF UI Display';
}

.section_header_line{
	width: 53px;
	border-bottom: 2px solid #8C0428;
	margin-top: 22px;
	margin-bottom: 44px;
}

.section_body_text{
	//font-size: 18px;
	//line-height: 1.5;
	//margin-bottom: 30px;
}
.section_patenting{
	margin-top: 35px;
}
.mr-bottom{
	margin-bottom: 30px;
}
.section_margin{
	margin-bottom: 60px;
}
.section_patent_service_foto{
	background-image: url(../images/service_foto.jpg);
	height: 252px;
	background-size: cover;
	margin-bottom: 30px;
}
#path-section .path {
	//height: 130px;
	font-size: 20px;
	font-family: 'SF UI Text';
	//padding-top: 50px;
	margin-bottom: 73px;
	margin-top: 62px;
}
#path-section .path a{
	color: black;
}

#costs-section table {
    width: 100%;
    border-collapse: collapse;
	margin-bottom: 50px;
	font-size: 20px;
   }
#costs-section   td, th {
    padding: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
	text-align: center;
}
#costs-section  th {
    background: #8C0428;
	border: 1px solid black;
	color: white;
}
#costs-section table .first {
	text-align: left;
	width: 50%;
}

#costs-section table .sub td{
	font-size: 18px;
	border-top: 0;
}
#costs-section table .sub td.first:before{
	content: "\25cf";
	padding-right: 10px;
}

#costs-section table .last_row {
	border-bottom: 1px solid black;
}

#services-section .earth-globe{
	height: 317px;
	border: 1px solid #DCDCDC;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 15px;
	margin-top: 15px;
}
  
.button{
	width: 230px;
	background-color: transparent;
	color: #8C0428;
	font-size: 19px;
	font-family: 'SF UI Display';
	padding-top: 18px;
	padding-bottom: 18px;
	border: 1px solid #8C0428;
}
.button_2{
	color: #4D4D4D;
	border: 1px solid #DCDCDC;
	//margin-left: 22px;
}

#also-section .diploma_img{
	margin-top: 18px;
}
#experience-section .border_radius{
	width: 190px;
	height: 190px;
	border: 1px solid #DCDCDC;
	border-radius: 96px;
	font-size: 60px;
	font-family: 'SF UI Display';
	color: #8C0428;
    padding: 38px;
    padding-top: 62px;
	margin: 0 auto;
	margin-bottom: 23px;
}
#experience-section .twenty{
	padding-left: 58px;
}
#experience-section .text{
	font-size: 22px;
	font-family: 'SF UI Display';
	text-align: center;
	line-height: 1.5;
}
#experience-section .box {
	margin: 0 auto;
}
#experience-section .sl_but {
	height: 48px;
	width: 48px;
	background: #8C0428;
	border-radius: 30px;
	text-align: center;
	padding-top: 11px;
	border: 0;
}

#experience-section .carousel-indicators li {
	height: 10px;
	width: 10px;
	background: #DCDCDC;
	display: inline-block;
	border: 0;
	border-radius: 10px;
}
#experience-section .carousel-indicators {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	top: -10px;
	display: inline;
}
#experience-section .carousel-indicators-my li.active {
	background: #8C0428;
}
#experience-section .buttons {
	text-align: center;
	margin-top: 80px;
}
.through_call{
	width: 100%;
	height: 147px;
	background-image: url(../images/blocks_background/through_call_background.jpg);
	background-size: cover;
	padding-top: 63px;
}
.through_call .sales{
	color: white;
}
.through_call .send{
	margin-top: -12px;
}
#reviews-section .slider{
	width: 196px;
	height: 287px;
	background-color: #E8E8E8;
	border: 1px solid #B7B7B7;
	
}
#reviews-section .slider_margin{
	margin-left: 5px;
}
#reviews-section .box {
	display: inline-block;
	width: 19%;
}
#reviews-section .sl_but {
	height: 48px;
	width: 48px;
	background: #8C0428;
	border-radius: 30px;
	text-align: center;
	padding-top: 11px;
	border: 0;
}
#reviews-section .carousel-indicators li {
	height: 10px;
	width: 10px;
	background: #DCDCDC;
	display: inline-block;
	border: 0;
	border-radius: 10px;
}
#reviews-section .carousel-indicators {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	top: -10px;
	display: inline;
}
#reviews-section .carousel-indicators-my li.active {
	background: #8C0428;
}
#reviews-section .buttons {
	text-align: center;
	margin-top: 80px;
}
.section_examples_certificate{
	width: 261px;
	height: 319px;
	background-color: #DCDCDC;
	border: 1px solid #CCCCCC;
}
.section_examples_sign{
	height: 151px;	
}
.section_examples_registered{
	font-size: 24px;
	font-family: 'SF UI Display';
}
.section_examples_date_of{
	color: #8C0428;
}
.section_examples_text{
	font-size: 40px;
	font-family: 'SF UI Display';
	//color: white;
}


#idea-section .background_home{
	width: 100%;
    background-image: url(../images/blocks_background/home_background.jpg);
    background-size: cover;
    padding-top: 75px;
    color: white;
	padding-bottom: 256px;
	background-position: center;
}
#idea-section .open_btn{
	width: 194px;
	height: 56px;
	color: white;
	font-size: 21px;
	font-family: 'SF UI Display';
	background: transparent;
	border: 1px solid white;
	margin-top: 28px;
	letter-spacing: 0.8px;
}
#idea-section .open_btn i{
	margin-left: 8px;
}
#idea-section .title{
	font-size: 40px;
    font-family: 'SF UI Display';
    letter-spacing: -0.5px;
    line-height: 1.25;
}
#idea-section .text{
	font-size: 18px;
    line-height: 1.7;
    margin-top: 19px;
    letter-spacing: -0.7px;
}
#idea-section .carousel-indicators {
	position: absolute;
    right: 0;
    bottom: -35px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
    padding-left: 0;
    list-style: none;
    margin: 0;
	margin: -12px -4px;
}
#idea-section .carousel-indicators li {
	width: 45px;
    height: 5px;
}
@media (max-width: 576px) {
	#idea-section .title {
		font-size: 22px;
		line-height: 1.35;
		margin-top: -1px;
	}
	#idea-section .text {
		font-size: 14px;
		line-height: 1.45;
		margin-top: 14px;
	}
	#idea-section .open_btn {
		width: 160px;
		height: 47px;
		font-size: 17px;
	}
	#idea-section .background_home {
        padding-bottom: 81px;
    }
}


#consultation-section .container_border{
	background-color: white;
	border: 1px solid #DCDCDC;
	padding-bottom: 25px;
	margin-top: -163px;
}
#consultation-section .text_leave{
	font-size: 18px;
    font-family: 'SF UI Display';
    color: #424242;
    margin-top: 23px;
    margin-bottom: 31px;
    padding-left: 45px;
}
#consultation-section .receive{
	font-size: 25px;
    font-family: 'SF UI Display';
    color: #333333;
    padding-left: 46px;
    padding-top: 31px;
    font-weight: 600;
}
#consultation-section .inputs {
	white-space: nowrap;
}
#consultation-section .inputs input{
	width: 260px;
	height: 47px;
	border: 1px solid #CCCCCC;
	background: white;
	padding-left: 15px;
    margin-bottom: 5px;
	font-size: 15px;
	padding-top: 4px;
	margin-left: 30px;
}
#consultation-section .inputs input.first{
	margin-left: 29px;
}
#consultation-section .personal{
	color: #4E4E4E;
    margin-top: 26px;
    margin-bottom: 7px;
    padding-left: 46px;
}
#consultation-section .checktext{
	float: left;
	margin-left: 28px;
    margin-top: 2px;
    letter-spacing: -0.65px;
}
#consultation-section .checktext a{
	color: #4E4E4E;
	text-decoration: underline;
}
#consultation-section .red_btn{
	margin-right: 31px;
}
@media (max-width: 576px) {
	#consultation-section .container_border {
		margin: 6px;
		margin-top: -46px;
		padding-bottom: 22px;
	}
	#consultation-section .receive{
		font-size: 20px;
		padding-left: 37px;
		padding-top: 36px;
		letter-spacing: -0.25px;
	}
	#consultation-section .text_leave{
		font-size: 14px;
		margin-top: 16px;
		padding-left: 56px;
		padding-right: 53px;
		line-height: 1.4;
		text-align: center;
		letter-spacing: -0.1px;
		margin-bottom: 9px;
	}
	#consultation-section .inputs input {
		width: 91%;
		height: 50px;
		margin: 0 auto;
		display: block;
		margin-bottom: 15px;
		padding-left: 9px;
		font-size: 14px;
		padding-top: 3px;

	}
	#consultation-section .inputs input.first {
		margin: 0 auto;
		margin-bottom: 15px;
	}
	#consultation-section .personal {
		margin-top: 14px;
	}
	#consultation-section .checktext {
		font-size: 13px;
		float: none;
		margin-left: 46px;
		margin-top: -7px;
	}
	#consultation-section .checktext a{
		line-height: 2;
		text-decoration: underline;
		color: #4E4E4E;
		letter-spacing: -0.45px;
	}
	.squaredThree {
		margin-left: 2px;
	}
	.squaredThree label {
		width: 16px;
		height: 16px;
	}
	.squaredThree label:after {
		width: 9px;
		height: 6px;
		top: 3px;
		left: 2px;
		border: 2px solid #DD5A58;
		border-top: none;
		border-right: none;
	}
	#consultation-section .red_btn {
		font-size: 15px;
		width: 154px;
		height: 45px;
		margin-right: 0;
		margin-top: 3px;
		letter-spacing: 0.5px;
	}
}


#company-section .section_margin{
	margin-bottom: 60px;
	margin-top: 55px;
}
#company-section .section_header_text{
	font-size: 33px;
	font-family: 'SF UI Display';
}
#company-section .company_foto{
	height: 235px;
	background-image: url(../images/company_foto.jpg);
	color: white;
	background-size: cover;
	margin-top: 41px;
}
#company-section .section_header_text{
	font-size: 33px;
	font-family: 'SF UI Display';
}

#company-section .section_header_line{
	width: 53px;
	border-bottom: 2px solid #8C0428;
	margin-top: 22px;
	margin-bottom: 44px;
}

#company-section .company_text_1{
	font-size: 18px;
	line-height: 1.5;
	margin-top: 0;
}
#company-section .company_text_2{
	font-size: 18px;
	line-height: 1.5;
	margin-top: 47px;
}
#company-section .button_discover{
	width: 261px;
	height: 63px;
	background-color: transparent;
	color: #8C0428;
	font-size: 19px;
	font-family: 'SF UI Display';
	padding-top: 18px;
	padding-bottom: 18px;
	border: 1px solid #8C0428;
	margin-top: 58px;
}
#company-section .company_text_2  p{
	margin-top: 29px;
}
#advantages-section .line{
	border-bottom: 2px solid white;
}
#advantages-section .advantages{
	background-image: url(../images/advantages/Path_110.png);
	margin-bottom: 30px;
	padding-bottom: 60px;
	padding-top: 85px;
	background-size: cover;
}
#advantages-section .we_text{
	color: white;
	font-family: 'SF UI Display';
}
#advantages-section .back_grey{
	height: 253px;
	background-color: #2E4650;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'SF UI Display';
	padding-top: 35px;
	margin-bottom: 25px;
    margin-top: 25px;
}
.these_text{
	margin-top: 20px;
}
#advantages-section .handshake_margin{
	margin-top: 50px;
}

#news-section .news_title{
	font-size: 25px;
}
#news-section .news_background{
	width: 100%;
	height: 236px;
	//height: 100vh;
    //width: 100%;
    position: relative;
}
#news-section .news_background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#news-section .news_date {
	font-size: 18px;
    line-height: 1.5;
	color: #6E6E6E;
}
#news-section .section_patenting{
	margin-top: 35px;
	margin-bottom: 35px;
}

#news-section .news_body_text{
	font-size: 18px;
    line-height: 1.5;
}

#news-section .news_body_text button{
	background: transparent;
	border: 0;
}
#news-section .news_body_text button i {
    background: #8C0428;
    height: 42px;
    width: 42px;
    text-align: center;
    padding-top: 11px;
    color: white;
	margin-right: 20px;
}




