* {
	outline: none;
}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
.active a {
  background-color: transparent !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'SF UI Text';
	overflow-x: hidden;
}

/* Typography
---------------------------------------------------------- */
a {

}

a:hover {
	
}

p {

}


h1 {
	
}

h2 {
	
}


h3 {
	
}


/* Header 
---------------------------------------------------------- */
header p {
	color: navy;
}
header .border-b{
	border-bottom: 2px solid #eaeaea;
}
header .height_1{
	height: 60px;
	background-color: #8C0428;
}
header .language{
	margin-top: 20px;
}
header .style_block{
	background: 0;
	border: 0;
	font-size: 23px;
	font-family: 'SF UI Display';
}
header nav .nav-link {
	color: white !important;
}
header #mobile_menu {
	background: white;
	width: 100%;
	transition: .4s;
}
header #mobile_menu .close1 {
	background: transparent;
	color: #949494;
	border: 0;
	float: right;
	margin-right: 9px;
    font-size: 40px;
    margin-top: -19px;
}

header #mobile_menu .back {
	background: transparent;
	color: #949494;
	border: 0;
	float: left;
	margin-left: 12px;
	margin-top: -2px;
}
header #mobile_menu ul li{
	margin-bottom: 36px;
	font-size: 16px;
	font-family: 'SF UI Text';
	    letter-spacing: -0.5px;
}
header #mobile_menu ul li a{
	color: black !important;
}
header #mobile_menu ul li a i{
	color: #BFBFBF;
	margin-left: 30px;
}
header #mobile_menu ul {
	margin-left: 44px;
	margin-bottom: -3px;
	margin-top: 26px;
}
header #mobile_menu ul#mm2 {
	margin-left: 53px;
    margin-top: 25px;
}
header #mobile_menu #mm2 li {
	margin-bottom: 46px;
	letter-spacing: -0.2px;
	line-height: 1.3;
}
header #mobile_menu #mm2 li.first {
	//margin-bottom: 58px;
}
header #mobile_menu .bottom{
	text-align: center;
	padding-bottom: 10px;
}
header #mobile_menu .bottom .number_link{
	font-size: 18px;
}
header #mobile_menu .bottom .white_btn{
	font-size: 14px;
	margin-top: 12px;
	width: 168px;
	letter-spacing: 0.5px;
    height: 39px;
	padding-top: 13px;
}
header #mobile_menu .bottom .red_btn{
	width: 168px;
    height: 40px;
    font-size: 14px;
    padding-top: 13px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
header #mobile_menu .lang{
	margin-top: 19px;
}
header #mobile_menu .lang button{
	font-size: 23px;
}
header .dropdown-menu{
	line-height: 1.5;
	font-size: 18px;
	font-family: 'SF UI Display';
	border-radius: 0;
}
header .border_line{
	width: 95%;
	border-bottom: 1px solid #DCDCDC;
}	
header .buttons .white_btn{
	width: 180px;
	height: 52px;
	background-color: transparent;
	color: #4D4D4D;
	font-size: 17px;
	font-family: 'SF UI Display';
	padding-top: 14px;
	padding-bottom: 14px;
	border: 1px solid #DCDCDC;
}
header .buttons .white_btn a{
	color: #4D4D4D;
}
header .red_btn{
	width: 180px;
	height: 52px;
	font-size: 17px;
	padding-top: 14px;
	padding-bottom: 14px;
}
header .line1 {
	padding-top: 20px;
    padding-bottom: 13px;
	font-size: 17px;
    font-family: 'SF UI Display';
    font-weight: 400;
    letter-spacing: 0.9px;
}

header .line1 i {
	color: #CACACA;
}
header .line1 .text2 a{
	color: black;
}
header .line1 .image1 {
	margin-left: 0px;
	margin-right: 15px;
	float: left;
}
header .line1 .image2 {
	margin-left: 2px;
    margin-right: 16px;
    margin-top: 1px;
	float: left;
}
header .flag {
    margin-right: 12px;
    margin-top: -2px;
    float: left;
}
header .line1 .lang_select {
	width: 93px;
    float: right;
}
header .lang button{
	background: transparent;
	border: 0;
	font-size: 18px;
	letter-spacing: 1px;
}
header .lang img{
	width: 31px;
}
header .dropdown-menu {
	left: -18px !important;
}
header .dropdown-menu .flag {
    padding-top: 4px;
}
header .line2{
	padding-bottom: 41px;
}
header .lang button::after{
	color: #BFBFBF;
	font-size: 14px;
}

header .line2 .image {
	padding-top: 37px;
    padding-left: 0px;
	width: 89px;
    overflow: hidden;
	float: left;
}
header .line2 .title {
	font-family: 'Montserrat SemiBold'; 
	font-size: 20px;
	padding-top: 49px;
    padding-left: 3px;
    letter-spacing: 0.6px;
	float: left;
	color: black;
}
header .line2 .title span{
    line-height: 1.7;
    letter-spacing: 1.65px;
}
header .line2 .phone_number{
	padding-top: 64px;
    padding-left: 84px;
    font-size: 23px;
    font-family: 'SF UI Text';
    letter-spacing: 0.9px;
	float: left;
}
header .line2 .phone_number a{
	color: black;
}
header .line2 .buttons{
	padding-top: 48px;
    padding-left: 53px;
	text-align: right;
}
header .line2 .buttons button{
	letter-spacing: 0.5px;
}
header .line2 .buttons .red_btn{
	margin-left: 0px;
}

header .line_menu ul{
	flex-direction: row;
	font-size: 18px;
	font-family: 'SF UI Display';
	padding-top: 13px;
	letter-spacing: 0.8px;
}
header .line_menu .first{
	flex-grow: 0;
    padding-right: 53px;
    padding-left: 0px;
}
header .line_menu .last{
	flex-grow: 0;
    padding-right: 8px;
    padding-left: 64px;
}
header .line_menu ul .dropdown-menu{
	margin-left: -61px;
    width: 342px;
    margin-top: 25px;
	padding-top: 15px;
	letter-spacing: 0.55px;
	line-height: 1.7;
	box-shadow: 0 0 15px #69696973;
}
header .line_menu ul .dropdown-menu .border_line {
	border-bottom: 0;
	width: 93%;
	margin-bottom: 13px;
    margin-top: 14px;
}
header .mobile .image{
	width: 50px;
    overflow: hidden;
    padding-top: 25px;
    padding-left: 5px;
	padding-bottom: 23px;
	float: left;
}
header .mobile .image img{
	width: 173px;
}
header .mobile .title{
	font-family: 'Montserrat SemiBold';
    font-size: 12px;
    padding-top: 34px;
    padding-left: 18px;
    letter-spacing: 0.3px;
    float: left;
}
header .mobile {
	height: 97px;
}
header .mobile .title span {
	line-height: 2;
    letter-spacing: 0.8px;
}
header .mobile .buttons {
	float: right;
	padding-top: 39px;
}
header .mobile .buttons button{
	border: 0;
	background: transparent;
	font-size: 17px;
}
header .mobile .call_button{
	color: #8C0428;
    margin-right: 11px;
}



#over-section {
	position: fixed;
    background: #00000099;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
	display: none;
	font-family: 'SF UI Display';
}
#over-section .close_btn{
    float: right;
    background: transparent;
    border: 0;
    margin-right: 4px;
    margin-top: 1px;
	font-size: 32px;
	color: #8c0428;
}
#over-section .window{
	position: relative;
	width: 552px;
	height: 658px;
	background: white;
	margin: 0 auto;
	top: 50%;
	margin-top: -325px;
}
#over-section .back_call {
	padding-top: 52px;
	padding-bottom: 68px;
}
#over-section .window .back_call .title{
	font-size: 30px;
	font-family: 'SF UI Display';
	letter-spacing: 0.3px;
	text-align: center;
}
#over-section .window .back_call .text{
	font-size: 18px;
	font-family: 'SF UI Display';
	color: #424242;
	padding-top: 24px;
    text-align: center;
    line-height: 1.38;
    letter-spacing: -0.2px;
}
#over-section .window .back_call .fline1{
	margin-top: 60px;
}
#over-section input{
	font-size: 18px;
	color: #828282;
	width: 100%;
    height: 58px;
    padding-left: 18px;
	border: 1px solid #d6d6d6;
}
#over-section .window .back_call input .last{
	margin-top: 0px;
}
#over-section .window .back_call .form{
	margin-left: 51px;
	margin-right: 51px;
	margin-bottom: 30px;
}
#over-section .window .back_call .cb{
	//margin-top: 23px;
}
#over-section .window .back_call .cbtext {
	font-size: 16px;
	color: #4E4E4E;
	margin-left: 100px;
	margin-top: 2px;
	letter-spacing: 0px;
}
#over-section .window .back_call .cbtext a{
	text-decoration: underline;
    color: #4E4E4E;
}
#over-section .window .back_call .cb .squaredThree{
	margin-left: 37px;
}
#over-section .window .back_call .cb .squaredThree label{
	height: 17px;
	width: 17px;
	margin-left: 1px;
}
#over-section .window .back_call .cb .squaredThree label:after {
	width: 10px;
	height: 6px;
	top: 3px;
	left: 3px;
}
#over-section .squaredThree {
    width: 20px;
    height: 20px;
    margin-left: 44px;
    position: relative;
    float: none; 
    top: 20px;
}
#over-section .window .back_call .red_btn {
	width: 188.86px;
	height: 47.83px;
	font-size: 16px;
	margin-top: 45px;
    letter-spacing: 0.5px;
	padding-top: 15px;
}
@media (max-width: 576px) {
	#over-section {
		position: static;
	}
	#over-section .window {
		width: 100%;
		top: 1px;
		margin-top: 0px;
		height: auto;
	}
	#over-section .close_btn {
		position: absolute;
		right: 4px;
	}
	#over-section .back_call {
		padding-top: 33px;
		padding-bottom: 79px;
	}
	#over-section .window .back_call .title {
		font-size: 20px;
	}
	#over-section .window .back_call .text {
		font-size: 14px;
		padding-top: 14px;
	}
	#over-section .window .back_call .fline1 {
		margin-top: 9px;
	}
	#over-section input {
		height: 50px;
		font-size: 14px;
		padding-left: 13px;
		letter-spacing: 0.7px;
	}
	#over-section .window .back_call .form {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 15px;
	}
	#over-section .squaredThree{
		margin-left: 32px;
		top: 14px;
	}
	#over-section  .squaredThree label{
		height: 16px;
		width: 16px;
		margin-left: 1px;
	}
	#over-section .squaredThree label:after {
		width: 9px;
		height: 5px;
		top: 3px;
		left: 3px;
	}
	#over-section .window .back_call .cbtext {
		font-size: 13px;
		margin-left: 83px;
		margin-top: -16px;
		line-height: 1.5;
	}
	#over-section .window .back_call .red_btn {
		width: 155px;
		height: 45px;
		font-size: 16px;
		margin-top: 15px;
		letter-spacing: 0.5px;
		padding-top: 15px;
	}
}


#path-section .line1 {
	font-size: 20px;
	font-family: 'SF UI Text';
	//margin-bottom: 55px;
	margin-top: 62px;
}
#path-section .line1 .serv{
	margin-left: 19px;
}
#path-section .line1 .pat{
	margin-left: 20px;
}
#path-section .line1 .i1{
	margin-left: 5px;
    margin-top: 2px
}
#path-section .line1 .i2{
	margin-left: 18px;
    margin-top: 2px
}
#path-section .line1 .menu{
	float: left;
}
#path-section .line1 i{
	margin-left: 29px;
	margin-right: 27px;
	color: #D9D8D8;
	font-size: 18px;
}
#path-section .line1 a{
	color: black;
}
@media (max-width: 576px) {
	#path-section .line1 {
		font-size: 15px;
		margin-top: 28px;
		padding-left: 5px;
		margin-bottom: 48px;
	}
	#path-section .line1 i{
		margin-left: 21px;
		margin-right: 23px;
	}
	#path-section .line1 .serv{
		margin-left: 19px;
	}
	#path-section .line1 .pat{
		margin-left: 20px;
		margin-top: 17px;
	}
	#path-section .line1 .i1{
		margin-left: 5px;
		margin-top: 2px
	}
	#path-section .line1 .i2{
		margin-left: 18px;
		margin-top: 2px
	}
	#path-section .line1 .menu{
		float: left;
	}
	#path-section .line1 a{
		color: black;
	}
}


#patent-section{
	margin-top: 71px;
    letter-spacing: 0.5px;
    margin-left: -2px;
	font-family: 'SF UI Display';
}
#patent-section .title{
	font-size: 33px;
	
}

#patent-section .line{
	width: 57px;
	border-bottom: 2px solid #8C0428;
	margin-top: 22px;
	//margin-bottom: 44px;
}

#patent-section .text1{
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: 0px;
	margin-top: 59px;
}
#patent-section .foto{
	background-image: url(../images/service_foto.jpg);
	height: 258px;
	background-size: cover;
	margin-top: 30px;
}
#patent-section .text2{
	margin-top: 33px;
}
@media (max-width: 576px) {
	#patent-section{
		margin-top: 47px;
		letter-spacing: 0.5px;
		margin-left: 5px;
		font-family: 'SF UI Display';
	}
	#patent-section .title{
		font-size: 24px;	
		line-height: 1.2;
	}
	#patent-section .line{
		width: 38px;
		border-bottom: 2px solid #8C0428;
		margin-top: 18px;
	}

	#patent-section .text1{
		font-size: 14px;
		line-height: 2.2;
		letter-spacing: 0px;
		margin-top: 41px;
		margin-left: 1px;
	}
	#patent-section .foto{
		background-image: url(../images/service_foto.jpg);
		height: 153px;
		background-size: cover;
		margin-top: 30px;
	}
	#patent-section .text2{
		margin-top: 28px;
	}
	#patent-section .text3{
		margin-top: 20px;
		letter-spacing: 0.2px;
	}
}


/* Footer
---------------------------------------------------------- */
#callback_section .back_call {
    width: 100%;
    background-image: url(../images/blocks_background/back_call_background.jpg);
    background-size: cover;
	background-position: center;
    padding-top: 122px;
	padding-bottom: 155px;
	color: white;
}
#callback_section .title{
	font-size: 40px;
    font-family: 'SF UI Display';
    letter-spacing: 0.6px;
    line-height: 1.2;
}
#callback_section input{
	border: 0;
	background: 0;
	color: white;
	font-family: 'SF UI Text';
	font-size: 22px;
}
#callback_section input.last{
	margin-top: 13px;
}
#callback_section input::placeholder {
  color: white;
}
#callback_section .form{
	border-bottom: 1px solid grey;
	padding-bottom: 16px;
	margin-top: 15px;
    margin-bottom: 15px;
}
#callback_section .back_call span{
	border-bottom: 1px solid white;
}
#callback_section .line{
	border-bottom: 2px solid white;
	width: 57px;
    padding-top: 29px;
    margin-left: -1px;
}
#callback_section .fline1{
	margin-top: 52px;
}
#callback_section .cb{
	margin-top: 43px;
}
#callback_section .cb .squaredThree label{
	height: 21px;
	width: 21px;
	margin-left: 1px;
}
#callback_section .cb .squaredThree label:after {
	width: 13px;
    height: 9px;
	top: 3px;
    left: 3px;
}
#callback_section .cbtext {
	margin-left: 41px;
    font-size: 20px;
    font-family: 'SF UI Text';
    margin-top: -1px;
}
#callback_section .cbtext a{
	text-decoration: underline;
	color: white;
}
#callback_section .red_btn{
	margin-top: 57px;
	height: 52px;
	width: 223px;
	font-size: 19px;
	font-family: 'SF UI Display';
	letter-spacing: 0.65px;
}
@media (max-width: 576px) {
	#callback_section .back_call {
		padding-top: 56px;
		padding-bottom: 68px;
	}
	#callback_section .title{
		font-size: 20px;
		letter-spacing: 0.3px;
		padding-left: 5px;
	}
	#callback_section .line{
	    padding-top: 20px;
		margin-left: 5px;
	}
	#callback_section .fline1{
		margin-top: 27px;
	}
	#callback_section input{
		font-size: 18px;
	}
	#callback_section input.last{
		margin-top: 0px;
	}
	#callback_section .form{
		margin-left: 5px;
		margin-right: 7px;
		margin-bottom: 22px;
	}
	#callback_section .cb{
		margin-top: 23px;
	}
	#callback_section .cbtext {
		font-size: 13px;
		margin-left: 83px;
		margin-top: -7px;
		letter-spacing: -0.5px;
	}
	#callback_section .cbtext a{
	    line-height: 2;
	}
	#callback_section .cb .squaredThree{
		margin-left: 37px;
	}
	#callback_section .cb .squaredThree label{
		height: 17px;
		width: 17px;
		margin-left: 1px;
	}
	#callback_section .cb .squaredThree label:after {
		width: 10px;
		height: 6px;
		top: 3px;
		left: 3px;
	}
	#callback_section .red_btn {
		width: 154px;
		height: 45px;
		font-size: 15px;
		margin-top: 21px;
	}
}



#clients-section{
	font-family: 'SF UI Display';
	background-image: url(../images/stripes.png);
	margin-top: 53px;
	padding-bottom: 52px;
}
#clients-section .title{
	font-size: 33px;
	letter-spacing: 0.5px;
	margin-top: 57px;
}

#clients-section .line{
	width: 57px;
	border-bottom: 2px solid #8C0428;
	margin-top: 23px;
	//margin-bottom: 44px;
}

#clients-section .text{
	font-size: 18px;
	line-height: 1.7;
	margin-top: 69px;
	margin-bottom: 39px;
}
#clients-section .client_background{
	 
}
#clients-section .sl_but {
	height: 48px;
	width: 48px;
	background: #8C0428;
	border-radius: 30px;
	text-align: center;
	padding-top: 6px;
	border: 0;
	margin-left: -3px;
    margin-right: -2px;
}
#clients-section .carousel-indicators li {
	height: 14px;
	width: 14px;
	background: #DCDCDC;
	display: inline-block;
	border: 0;
	border-radius: 10px;
}
#clients-section .carousel-indicators {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	top: -4px;
	display: inline;
}
#clients-section .carousel-indicators li.active {
	background: #8C0428;
}
#clients-section .picture{
	height: 135px;
	background-color: #F3F3F3;
	border: 1px solid #E0E0E0;
}
#clients-section .margin_picture{
	//margin-left: 10px;
}
#clients-section .buttons {
	text-align: center;
	margin-top: 61px;
	//margin-bottom: 52px;
}
@media (max-width: 576px) {
	#clients-section{
		font-family: 'SF UI Display';
		background-image: url(../images/stripes.png);
		margin-top: 43px;
		padding-bottom: 34px;
		padding-top: 46px;
		margin-left: 6px;
	}
	#clients-section .title{
		font-size: 24px;
		letter-spacing: 0.1px;
		margin-top: 0;
		
	}

	#clients-section .line{
		width: 57px;
		border-bottom: 2px solid #8C0428;
		margin-top: 22px;
		//margin-bottom: 44px;
	}

	#clients-section .text{
		font-size: 14px;
		line-height: 2.2;
		margin-top: 39px;
		margin-bottom: 0px;
	}
	#clients-section .client_background{
		 
	}
	#clients-section .sl_but {
		height: 34px;
		width: 34px;
		background: #8C0428;
		border-radius: 30px;
		text-align: center;
		padding-top: 5px;
		border: 0;
		margin-left: 3px;
		margin-right: 1px;
	}
	#clients-section .carousel-indicators li {
		height: 10px;
		width: 10px;
		background: #DCDCDC;
		display: inline-block;
		border: 0;
		border-radius: 10px;
		margin-left: 0px;
	}
	#clients-section .carousel-indicators {
		position: relative;
		margin-left: 12px;
		margin-right: 6px;
		top: -6px;
		display: inline;
	}
	#clients-section .carousel-indicators li.active {
		background: #8C0428;
	}
	#clients-section .carousel-control-next-icon, .carousel-control-prev-icon {
		display: inline-block;
		width: 11px;
		height: 20px;
		//background: no-repeat 50%/100% 100%;
	}
	#clients-section .picture{
		height: 105px;
		background-color: #F3F3F3;
		border: 1px solid #E0E0E0;
		margin-top: 18px;
	}
	#clients-section .picture_top{
		margin-top: -6px;
	}
	#clients-section .picture_left{
		
	}
	#clients-section .buttons {
		text-align: center;
		margin-top: 39px;
		margin-left: -7px;
	}
}


footer .line1 .image{
	width: 87px;
    overflow: hidden;
	float: left;
	padding-top: 44px;
    margin-left: -1px;
}
footer .line1 .image img{
	width: 254px;
}
footer .line1 .text{
	padding-top: 57px;
    padding-left: 97px;
    font-size: 18px;
    font-family: 'Montserrat SemiBold';
	letter-spacing: 0.5px;
}
footer .line1 .text span{
	line-height: 2;
	letter-spacing: 1.4px;
}
footer .line1 .white_btn{
	margin-top: 45px;
    height: 56px;
	margin-left: -82px;
    width: 245px;
	font-size: 19px;
	letter-spacing: 0.6px;
	margin-bottom: 30px;
}
footer .line1 .white_btn a{
	color: #4D4D4D;
}
footer .line1 .number{
	font-size: 24px;
	font-family: 'SF UI Text';
	margin-left: -81px;
    margin-top: 32px;
    letter-spacing: 1px;
	white-space: nowrap;
	color: black;
}
footer .menu {
	margin-top: 33px;
    font-size: 20px;
    font-family: 'SF UI Display';
    letter-spacing: 0.5px;
    margin-left: 17px;
}
footer .menu .a{
	color: black;
}
footer .menu .m2{
	margin-left: -23px;
}
footer .menu .r2 {
	margin-top: 20px;
	
}
footer .menu .r3 {
	margin-top: 29px;
}
footer .menu .gr {
	color: #808080;
}
footer .menu div {
	margin-top: 15px;
	margin-bottom: 15px;
}
footer .line2{
	font-size: 18px;
    font-family: 'SF UI Display';
	padding-top: 18px;
}
footer .line2 .left{
	padding-top: 15px;
    padding-bottom: 14px;
    letter-spacing: 0.9px;
}
footer .line2 .a1{
	color: black;
}
footer .line2 i{
	color: #CACACA;
	margin-right: 12px;
}
footer .line2 .right{
	padding-top: 15px;
    padding-bottom: 14px;
	padding-right: 15px;
    letter-spacing: 0.9px;
}
footer .line3{
	margin-top: 10px;
    font-size: 18px;
    margin-bottom: 24px;
    font-family: Roboto;
}
footer .cborder{
	color: grey;
}
@media (max-width: 576px) {
	footer .line1 .image{
		width: 54px;
		padding-top: 49px;
		margin-left: 7px;
	}
	footer .line1 .image img{
		width: 173px;
	}
	footer .line1 .text{
		font-size: 12px;
		padding-top: 58px;
		padding-left: 69px;
		letter-spacing: 0.4px;
	}
	footer .line1 .text span{
		letter-spacing: 1px;
	}
	footer .line1 .number{
		font-size: 18px;
		margin-left: 5px;
		margin-top: 28px;
		letter-spacing: 0.75px;
	}
	footer .line1 .white_btn {
		margin-top: 17px;
		height: 45px;
		margin-left: 5px;
		width: 206px;
		font-size: 14px;
		letter-spacing: 0.4px;
	}
	footer .line1 .white_btn a{
		color: #4D4D4D;
	}
	footer .menu {
		margin-top: 24px;
		font-size: 14px;
		margin-left: -2px;
	}
	footer .menu div {
		margin-left: -10px;
		margin-top: 10px;
	}
	footer .menu .m2{
		margin-left: -10px;
	}
	footer .menu .r2 {
		margin-top: 10px;
	}
	footer .menu .r3 {
		margin-top: 19px;
	}
	footer .menu .pk {
		margin-top: 8px;
	}
	footer .line2 {
		font-size: 14px;
	}
	footer .line2 .left {
		padding-top: 21px;
		letter-spacing: 0.71px;
	}
	footer .line2 .right {
		padding-top: 8px;
		padding-bottom: 9px;
		letter-spacing: 0.71px;
	}
	footer .line2 .left i {
		margin-right: 8px;
		margin-left: 5px;
	}
	footer .line2 .right i {
		margin-right: 5px;
		margin-left: 5px;
	}
	footer .line3 {
		margin-top: 10px;
		font-size: 14px;
		margin-left: -10px;
		line-height: 1.2;
		margin-bottom: 28px;
	}
	footer .line3 .right{
		margin-top: 22px;
	}
}

/* Controls
---------------------------------------------------------- */
button[type="submit"] {

}

button[type="submit"]:hover {
	
}

button[type="submit"]:active {
	
}


/* Hooks
---------------------------------------------------------- */
@media (min-width: 1200px) {
	.container {
		max-width: 1164px; /* padding 15 *2 */
	}
}

button:focus {outline:0;}


/* SQUARED THREE */
.squaredThree input[type=checkbox] {
    visibility: hidden;
}
.squaredThree {
    width: 20px;
	height: 20px;
    margin-left: -15px;
    position: relative;
	float: left;
}

.squaredThree label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;
	border: 1px solid #DBDBDB;
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 7px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #DD5A58;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}





